<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created as part of udemy.com nodejs course.
            It uses mapbox.com for geolocating and darksky.net for getting weather data
        </p>
        <img class="portrait" src="/img/pic1.PNG">
    </div>

    {{>footer}}
</body>

</html>